/* @group Base */
.chzn-container {
  display: inline-block;
  font-size: 13px;
  position: relative;
  zoom: 1;
  *display: inline;
}
.chzn-container input[type="text"] {
  background: white;
  border: 1px solid #aaa;
  color: inherit;
  font-family: sans-serif;
  font-size: 13px;
  height: auto;
  line-height: normal;
  outline: 0;
  width: 100% !important;
  -webkit-border-radius: 0;
  -moz-border-radius   : 0;
  border-radius        : 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow   : inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow        : inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;
  box-sizing        : border-box;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-width: 0 1px 1px;
  left: 0;
  position: absolute;
  top: 29px;
  z-index: 1011;
  -webkit-background-clip: padding-box;
  -moz-background-clip   : padding;
  background-clip        : padding-box;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow   : 0 3px 6px rgba(0,0,0,0.1);
  box-shadow        : 0 3px 6px rgba(0,0,0,0.1);
}
.chzn-search {
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-default {
  color: #999;
}
/* @end */





/* @group Single Chosen */
.chzn-single {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );   
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  -webkit-background-clip: padding-box;
  -moz-background-clip   : padding;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  color: #444;
  display: block;
  height: 23px;
  line-height: 24px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
}
.chzn-single:hover {
  text-decoration: none;
}
.chzn-single > span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow : ellipsis;
  text-overflow    : ellipsis;
}
.chzn-single > abbr {
  background: url('chosen-sprite.png') right top no-repeat;
  font-size: 1px;
  display: block;
  height: 13px;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
}
.chzn-single > abbr:hover {
  background-position: right -11px;
}
.chzn-disabled .chzn-single > abbr:hover {
  background-position: right top;
}
.chzn-single > div {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
.chzn-single > div > b {
  background: url('chosen-sprite.png') no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 4px 6px 0;
}
.chzn-container-single .chzn-search > input[type="text"] {
  background-image: url('chosen-sprite.png');
  background-position: 100% -22px;
  background-repeat: no-repeat;
  padding: 4px 20px 4px 5px;
}
.chzn-container-single-nosearch .chzn-search > input[type="text"] {
  left: -9000px;
  position: absolute;
}
/* @end */





/* @group Input Chosen */
.chzn-single-text .chzn-search {
  background: white;
  margin: 0;
  padding: 0;
}
.chzn-container-single.chzn-single-text .chzn-search input {
  background-color: transparent;
  font-size: 15px;
  height: 29px;
  padding-left: 8px;
}
.chzn-single-text .chzn-display-field {
  border-color: transparent !important;
  position: absolute;
  -webkit-box-shadow: none !important;
  -moz-box-shadow   : none !important;
  box-shadow        : none !important;
}
/* @end */





/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  border: 1px solid #aaa;
  cursor: text;
  height: auto !important;
  height: 1%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  margin: 1px 0;
  outline: 0;
  padding: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  border: 1px solid #aaaaaa;
  color: #333;
  cursor: default;
  line-height: 13px;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  position: relative;
  -webkit-background-clip: padding-box;
  -moz-background-clip   : padding;
  background-clip        : padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  border: 1px solid #cccccc;
  color: #666;
  padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  background: url('chosen-sprite.png') right top no-repeat;
  display: block;
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* @end */





/* @group Results */
.chzn-container .chzn-results {
  margin: 4px;
  max-height: 240px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  margin: 0;
  padding: 5px 8px;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #3a71d9;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius   : 2px;
  border-radius        : 2px;
}
.chzn-container .chzn-results li em {
  font-style: normal;
  font-weight: bold;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  color: #999;
  display: list-item;
  font-style: italic;
}
.chzn-container .chzn-results .group-result {
  color: #999;
  cursor: default;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 16px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px; /* This should by dynamic with js */
  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
  background: url('chosen-sprite.png') no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
  background: url('chosen-sprite.png') no-repeat -22px -3px;
}
/* @end */





/* @group Active  */
.chzn-container-active .chzn-single, .chzn-container-active .chzn-search > input[type="text"], .chzn-container-active .chzn-choices {
  border: 1px solid #5897fb;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,0.3);
  box-shadow        : 0 0 5px rgba(0,0,0,0.3);
}
.chzn-container-active .chzn-single-with-drop {
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  border: 1px solid #aaa;
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */





/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @end */




/* @group Right to Left */
.chzn-rtl { text-align: right; }
.chzn-rtl .chzn-single { padding: 0 8px 0 0; overflow: visible; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; direction: rtl; }

.chzn-rtl .chzn-single div { left: 3px; right: auto; }
.chzn-rtl .chzn-single abbr { left: 26px; right: auto; }
.chzn-rtl .chzn-choices .search-field input { direction: rtl; }
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 5px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 4px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 15px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
  background: #fff url('chosen-sprite.png') no-repeat -38px -22px;
  background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);  
  background: url('chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -38px -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
/* @end */

/* @group Select all options */
.chzn-select-all { background: #f8f8f8; border-top: 1px solid #ededed; color: #346f9b; cursor:pointer; display: block; font-size: 12px; font-weight: bold; padding: 5px 6px; text-align: center; text-decoration: none; }
/* @end */
